h1 {
  color: white;
  font-family: Comic Sans MS, cursive;
  text-shadow:
        3px 3px 5px black,
        -3px -3px 5px black,
        3px -3px 5px black,
        -3px 3px 5px black;
  text-align: center;
  font-size: 5em;
  margin-bottom: 100px;
  margin-top: 50px;
  line-height: 1.5;
}

h2 {
  color: white;
  text-shadow:
        3px 3px 5px black,
        -3px -3px 5px black,
        3px -3px 5px black,
        -3px 3px 5px black;
  font-family: Comic Sans MS, cursive;
  font-size: 3em;
  line-height: 1.5;
  margin-left: 100px;
}

h3 {
  color: white;
  text-shadow:
        3px 3px 5px black,
        -3px -3px 5px black,
        3px -3px 5px black,
        -3px 3px 5px black;
  font-family: Comic Sans MS, cursive;
  font-size: 1.75em;
  line-height: 1.5;
  margin-left: 150px;
}

p{
  line-height: 1.5;
  font-size: 1.5em;
  margin-left: 150px;
  margin-right: 150px;
  font-family: Impact MS, cursive;
  text-align: left;
  color: white;
  text-shadow:
        1px 1px 2px black,
        -1px -1px 2px black,
        1px -1px 2px black,
        -1px 1px 2px black;
}

.page1 {
  background-image: url('../img/fish.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page2 {
  background-image: url('../img/WHAT.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 650px;
}

.page3 {
  background-image: url('../img/map 4k.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: rgb(176, 152, 72);
  background-size: cover;
}

.page4 {
  background-color: hotpink;
  <a href="Page%203.html">distracted</a>
}

.pageF {
  background-color: red;
  text-align: center;
}

.real {
  color: blue;
}

.link1 {
  text-decoration: none;
    line-height: 1.5;
    font-size: 1em;
    font-family: Comic Sans MS , cursive;
    text-align: left;
    color: white;
    text-shadow:
        1px 1px 2px black,
        -1px -1px 2px black,
        1px -1px 2px black,
        -1px 1px 2px black;
}

.link2 {
  text-decoration: none;
    line-height: 1.5;
    color: white;
  font-family: Comic Sans MS, cursive;
  text-shadow:
        3px 3px 5px black,
        -3px -3px 5px black,
        3px -3px 5px black,
        -3px 3px 5px black;
  text-align: center;
  font-size: 1em;
  margin-bottom: 100px;
  margin-top: 50px;
}

.page5 {
  background-image: url('../img/map 4k.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: rgb(176, 152, 72);
  background-size: cover;
}
